<!DOCTYPE html>
<html>
  <head>
    <title>徒然日記(β)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
    <header>
      <div class="logo">
        <img src="app/assets/images/koymu-panda.png">
      </div>
        <h2 class="title">メニュー</h2>
    </header>
      <div class="list">
        <ul id="list-menu">
          <li><a href="#">プロフィール</a></li>
          <li><a href="#">アルバム</a></li>
          <li><a href="#">リンク</a></li>
        </ul>
      </div>
  <main>
    <%= yield %>
  </main>
    <footer>TOPへ戻る</footer>
  </body>
</html>
