<!DOCTYPE html>
<html>
  <head>
    <title>徒然日記(β)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>メニュー</header>
    <div>
      <%= yield %>
    </div>
    <footer>トップページへ戻る</footer>
  </body>
</html>
